<!doctype html>
<html lang="en">
    <head>
        <title>Portfolio</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link href="../styles/stylesheet.css" rel="stylesheet">
        <script src="script.js" defer></script>
    </head>
    
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="logo">
                        <a href="index.html">*YOUR NAME*</a>
                </div>
                <a href="#" class="toggle-button">
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <div class="nav-links">
                    <ul>
                        <li><a href="index.html">Work</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <section class="start"></section>
            <div style="height: 50px">
                <h2>👩🏻‍💻 Hello again!</h2>
                <p>Check out my resume <a href="">👉 📃</a> or scroll to learn more👇</p>
            </div>

        <section class="home"></section>
        <div style="height: 1000px">
            <section class="design-section">
                <div class="timeline">
                    <div class="timeline-empty">
                    </div>


                    <div class="timeline-middle">
                        <div class="timeline-circle"></div>
                    </div>
                <div class="timeline-component timeline-content">
                <h3>💻 🔬 🧬</h3>
                <p>I'm studying Biomedical Engineering @ UNC.</p>
            </div>

                <div class="timeline-component timeline-content">
                    <h3>🔧 💼 ⚙️</h3>
                    <p>This summer, I am working as ___ intern for ___</a>.</p>
                </div>

                <div class="timeline-middle">
                    <div class="timeline-circle"></div>
                </div>

                <div class="timeline-empty">
                </div>

                <div class="timeline-empty">
                </div>

                <div class="timeline-middle">
                    <div class="timeline-circle"></div>
                </div>

                <div class=" timeline-component timeline-content">
                <h3>👩‍🎨 🎨 📱</h3>
                <p>In my free time, I...</p>
                </div>
                
            </section>

              

        </div>

        <footer id="made">
            <p>
                <br>
                <br>
                <br>
                Made with ❤️ by *YOUR NAME*<br>
                <a href="mailto:katiechai21@icloud.com">*YOUR EMAIL*</a>
            </p>
        </footer>
            
        <script src="script.js"></script>
            
    </body>
